.screen {
  display: flex;
  flex-direction: column;
  margin-left: 228px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid black;
  height: 100vh;
  overflow: auto;
}

.header {
  height: 7vh;
  font-size: 1.5em;
  font-family: Montserat;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  font-size: 1.5em;
}

.box {
  border: 2px solid black;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
}

.top-box {
  height: 500px;
}

.bottom-box {
  height: 300px;
}

.appt-preview {
  width: 800px;
}

.appt-carousel {
  width: 800px;
}

.to-do {
  width: 600px;
}

.new-appt-bttn {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 4px;
}

.appt-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.appt-form label {
  margin-top: 8px;
}

.submit-bttn {
  margin-top: 16px;
}

.main-vertical {
  align-items: flex-start;
  flex-direction: column;
}

.main-appointments {
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  display: flex;
}

.form {
  margin-left: 10px;
  margin-right: 10px;
}

.ptnt-form-prov {
  display: flex;
}

.ptnt-form-prov > div > button {
  height: 30px;
}

.ptnt-form-prov-delete {
  display: flex;
  align-items: center;
}

.portfolio-modal {
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.input {
  width: 100px;
}
.label-row {
  display: flex;
  flex-direction: row;
}

.time-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 20px;
  padding-top: 20px;
}

.time-checkbox input {
  margin-left: 5px;
  padding-top: 30px;
}

.modal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-button {
  border: 0;
  height: 30px;
  font-size: 12px;
}

.form-modal {
  margin-top: 20px;
}

.new-ptnt-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appt-form p {
  margin-bottom: 0px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}